@import url(http://fonts.googleapis.com/css?family=Open+Sans);


#location_trend_button {

	display:block;
	height:20px;
	width:100px;
	background-color:red;
	position:absolute;
	left:1090px; 
	top:40px;
	border-radius:5px; 
	z-index:9999999999999999999999999; 
	font-family:Open Sans; 
	color:white; 
	text-align:center; 
	opacity: 0.6;

}

#location_trend_button:hover {

	display:block;
	height:20px;
	width:100px;
	background-color:orange;
	position:absolute;
	left:1090px; 
	top:40px;
	border-radius:5px; 
	z-index:9999999999999999999999999; 
	font-family:Open Sans; 
	color:white; 
	text-align:center; 
	opacity: 0.6;
	-webkit-transition-duration:1s;
	cursor:arrow;

}



#infobox {

	display:inline;
	overflow:auto;

}

#infobox_data > img {

	text-align:center;
	float:left;

}

div[id*='infobox_data_'] {

	display:inline;
	width:150px;
	height:auto;
	border: 1px solid gray;
	text-align:left;
	padding:8px;
	float:left;
	font-family:Open Sans,sans-serif;
	font-size: 10px;
}

#panel {

	position:absolute;
	left:35px;
	top:5px;
	z-index:999;

}

#target {

	width : 900px;

}
